<div class="row">
  
  <div class="col-md-12" *ngIf="masterTemplates.length; else nodata">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      
      <!--SL.#-->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>
          {{constants.SL_NUMBER}}
        </th>
        <td mat-cell *matCellDef="let masterTemplate; index as i">
          {{i+1}}
        </td>
      </ng-container>


      <ng-container matColumnDef="template">
        <th mat-header-cell *matHeaderCellDef>
          {{constants.MASTER_TEMPLATE}}    
        </th>
        <td mat-cell *matCellDef="let masterTemplate">
          {{masterTemplate.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="degree">
        <th mat-header-cell *matHeaderCellDef>
          {{constants.DEGREE}}
        </th>
        <td mat-cell *matCellDef="let masterTemplate">
          {{masterTemplate.degreeId}}
        </td>
      </ng-container>

      <ng-container matColumnDef="modifieddate">
        <th mat-header-cell *matHeaderCellDef>
          {{constants.LAST_UPDATED}}
        </th>
        <td mat-cell *matCellDef="let masterTemplate">
          {{masterTemplate.modifiedAt}}
        </td>
      </ng-container>

      <ng-container matColumnDef="modifiedby">
        <th mat-header-cell *matHeaderCellDef>
          {{constants.LAST_UPDATED_BY}}
        </th>
        <td mat-cell *matCellDef="let masterTemplate">
          {{masterTemplate.modifiedBy}}
        </td>
      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
  </div>
</div>